/* icons */
/* https://icon-sets.iconify.design/ */
.icon-typescript {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/vscode-icons/file-type-typescript-official.svg?color=%23007acc&width=20&height=20");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-github {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/bi/github.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-mongodb {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/devicon/mongodb-wordmark.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-jest {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/vscode-icons/file-type-jest.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-vscode {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/vscode-icons/file-type-vscode.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-mysql {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/logos/mysql.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-json {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/vscode-icons/file-type-json-official.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-reactjs {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/vscode-icons/file-type-reactjs.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-springboot {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/bxl/spring-boot.svg?color=%236db33f");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-java {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/logos/java.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-intellij {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/logos/intellij-idea.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-gradle {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/cib/gradle.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-awss3 {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/logos/aws-s3.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-awsec2 {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/logos/aws-ec2.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-apollo {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/simple-icons/apollographql.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-circleci {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/devicon-plain/circleci-wordmark.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-graphql {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/vscode-icons/file-type-graphql.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-reactjs {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/vscode-icons/file-type-reactjs.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-nextjs {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/devicon/nextjs-wordmark.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-nodejs {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/logos/nodejs.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-sqlserver {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/devicon-plain/microsoftsqlserver-wordmark.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-oracle {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/logos/oracle.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-js {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/logos/javascript.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-html {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/logos/html-5.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-css {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/logos/css-3.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-sass {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/skill-icons/sass.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-tomcat {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/devicon/tomcat-wordmark.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-redhat {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/devicon/redhat-wordmark.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-apache {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/logos/apache.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-webstorm {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/logos/webstorm.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-reduxjs {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/logos/redux.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

.icon-jwt {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("https://api.iconify.design/logos/jwt.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-self: center;
  align-self: center;
}

/*# sourceMappingURL=icon.css.map */
